body {
    background-color: whitesmoke;
}
p {
    text-align: center;
}

h2 {
    text-align: center;
}

img.bandpic {
    float: right;
    width: 250px;
    height: 250px;
   
}

dl.members {
    text-align: center;
}       
img.card-img-top {
    width: 286px;
    height: 280px;
}

img.miniIcons {
    text-align: center;
    width: 2em;
    height: 2em;
    }
    .icons{
        text-align: center;
    }