body {
    background-color: chartreuse;
}
p {
    text-align: center;
}


.merchPics {
display: flex;
width: 256px;
height:350px;
}
.card {
display: inline-block;
flex-direction: row;
flex-wrap:  wrap;
background-color: yellow;
border: 10px solid yellow;
border-style: groove;
margin-left: 100px;
margin-top:75px;
margin-bottom: auto;
width: 280px;
text-align: center;
font-family: 'Odibee Sans', cursive;
font-family: 'Luckiest Guy', cursive;
}
   
    
   
  
