body {
    background-color: white;
}
p {
    text-align: center;
}

h2 {
    text-align: center;
}


img.bandpic {
    float: right;
    width: 350px;
    height: 450px;
    margin-right: 250px;
}

dl.members {
    text-align: center;

}


img.miniIcons {
    text-align: center;
    width: 2em;
    height: 2em;
    }
    .icons{
        text-align: center;
    }